<mat-form-field  appearance="outline"  class="select-field">
  <mat-label>{{form.title}}</mat-label>
  <input matInput [(ngModel)]="model" [matAutocomplete]="auto" class="select-field" matBadge="!"
    [matBadgeHidden]="!warning" matBadgeColor="warn" (ngModelChange)="filterChange($event)">
  <button matSuffix mat-icon-button *ngIf="model" (click)="model = ''; erasedOnLastChange = true ;valueChanged()"
    matBadge="!" [matBadgeHidden]="warning == false" matBadgeColor="warn">
    <mat-icon>cancel</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCode.bind(this)"
    (optionSelected)="valueChanged()" (cdkAutofill)="valueChanged()" (optionActivated)="valueChanged()" (opened)="filterChange(model)">
    <mat-option *ngFor="let option of filteredOptions" [value]="option.value" (onSelectionChange)="valueChanged()">
      {{option.label + ' | ' + option.value}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
