<form [style]="'width: 100%'" (submit)="send()">
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

  <div class="textarea-container">
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>HL7v2 message</mat-label>
      <textarea matInput style="height: 64vh;" placeholder="" [(ngModel)]="hl7Message" name="message"></textarea>
    </mat-form-field>
    <button mat-stroked-button type="button" [cdkCopyToClipboard]="hl7Message"
            (click)="snackBarService.successMessage('Copied to clipBoard')">
      <mat-icon>content_copy</mat-icon>
      Copy
    </button>
  </div>
  <div class="footer low-density">
    <div>
      <!-- <mat-form-field appearance="fill">
        <mat-label></mat-label>
        <input matInput>
      </mat-form-field> -->

    </div>
    <div class="footer-end">
      <button mat-raised-button class="w3-right" type="submit" color="primary">
        <mat-icon>send</mat-icon>
        Send to IIS
      </button>
    </div>
  </div>

  <div [style]="{width: '90%'}" class="w3-right textarea-container">
    <mat-progress-bar mode="query" *ngIf="resultLoading"></mat-progress-bar>
    <!-- <mat-option [value]="'Update'">Update</mat-option> -->
    <textarea [ngClass]="resultClass()" [rows]="6" [style]="{width: '100%'}" readonly
              name="answer">{{answer}}</textarea>
    <button mat-stroked-button type="button" [cdkCopyToClipboard]="answer"
            (click)="snackBarService.successMessage('Copied to clipBoard')">
      <mat-icon>content_copy</mat-icon>
      Copy
    </button>
  </div>

</form>

