<!-- <button mat-stroked-button style="min-width: 10em;" [matMenuTriggerFor]="menu" *ngIf="tenantService.getCurrentId() > 0">
  {{(facilityService.getCurrent().id > 0)? ("Facility: " + facilityService.getCurrent().nameDisplay) : "Select Facility" }}
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of list" (click)="onSelection(item)"> {{item.nameDisplay}}</button>
  <button mat-menu-item (click)="openDialog()"><mat-icon>add</mat-icon></button>
</mat-menu> -->
<app-hover-menu>
  <button trigger mat-raised-button
  (click)="selectFirstOrCreate()"
  *ngIf="tenantService.getCurrentId() > 0" [color]="facilityService.getCurrentId() > 0 ? 'primary' : 'basic'">
    {{(facilityService.getCurrent().id > 0)? ("Facility: " + facilityService.getCurrent().nameDisplay) : "Select Facility" }}


    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <div content>
    <button mat-menu-item *ngFor="let item of list" (click)="onSelection(item)"> {{item.nameDisplay}}</button>
    <button mat-menu-item (click)="openDialog()"><mat-icon>add</mat-icon></button>
  </div>
</app-hover-menu>
