.text-dashboard-card {
  min-width: 20em;
  padding: 5px;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 40em;
  padding: 5px;
}

.mat-mdc-card-content:last-child {
  padding: 8px 8px 0;
}

.mat-mdc-card-header {
  display: flex;
  padding: 4px 4px 0;
}
