<h3 mat-dialog-title>
  Sending FHIR Resources to IIS
  <button mat-icon-button mat-dialog-close class="close-button" >X</button>
</h3>
<div style="display: flex; justify-content: space-between; gap: 5px 5px"  >
  <div style="width: 50%; height: 100%;">
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Patient Fhir Resource</mat-label>
      <textarea matInput style="height: 50vh;" placeholder="" [(ngModel)]="patientResource"> </textarea>
    </mat-form-field>
    <p>{{patientAnswer}}</p>
    <p style="color: red;">{{patientError}}</p>
    <mat-dialog-actions align="end">
      <button mat-raised-button (click)="sendPatient()" cdkFocusInitial>Send to IIS</button>
    </mat-dialog-actions>
  </div>
  <div style="width: 50%;">
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Vaccination Fhir Resource</mat-label>
      <textarea matInput style="height: 50vh;" placeholder="" [(ngModel)]="vaccinationResource"> </textarea>
    </mat-form-field>
    <p>{{vaccinationAnswer}}</p>
    <p style="color: red;">{{vaccinationError}}</p>
    <mat-dialog-actions align="end">
      <button mat-raised-button (click)="sendVaccination()" cdkFocusInitial>Send to IIS</button>
    </mat-dialog-actions>
  </div>
</div>
