<form (submit)="submit()">
  <mat-form-field appearance="outline" class="select-field">
    <mat-label>{{baseForm.title}}</mat-label>
    <input matInput #matInput="matInput" [(ngModel)]="model" #valueCtrl="ngModel" [matAutocomplete]="auto"
           (blur)="onBlur()" class="select-field-input" name="{{baseForm.attributeName}}"
           [customValidator]="codebaseReferenceValidator" [required]="isRequired()">

    <button matSuffix mat-icon-button *ngIf="valueCtrl.value" (click)="clear()" type="button">
      <mat-icon>cancel</mat-icon>
    </button>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCode.bind(this)"
                      (optionSelected)="valueChanged('selected')">
      <mat-option *ngFor="let option of filteredCodeMapsOptions" [value]="option.value"
                  [matTooltip]="option.description ?? ''" [matTooltipDisabled]="toolTipDisabled"
                  [matTooltipPosition]="'right'"
                  (onSelectionChange)="valueChanged('select')">
        {{displayCode(option.value)}}
      </mat-option>
      <mat-option *ngFor="let option of this.filteredFormOptions" [value]="option.code"
                  [matTooltip]="option.display ?? ''" [matTooltipDisabled]="toolTipDisabled"
                  [matTooltipPosition]="'right'"
                  (onSelectionChange)="valueChanged('select')">
        {{displayCode(option.code)}}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="valueCtrl.errors && valueCtrl.errors['codeMapIssue']; else otherError">
      {{valueCtrl.errors['codeMapIssue']}}
    </mat-error>
    <ng-template #otherError>
      <mat-error *ngIf="valueCtrl.errors && !valueCtrl.errors['required']; else requiredError">
        {{valueCtrl.errors | json}}
      </mat-error>
      <ng-template #requiredError>
        <mat-error>required</mat-error>
      </ng-template>
    </ng-template>

  </mat-form-field>


</form>
