<form #selectForm="ngForm">
  <mat-form-field appearance="outline" class="select-field">
    <mat-label>{{baseForm.title}}</mat-label>
    <input matInput [(ngModel)]="model" [matAutocomplete]="auto" class="select-field-input" matBadge="priority_high"
           [matBadgeHidden]="warning == false" matBadgeColor="accent" (ngModelChange)="filterChange($event)"
           name="{{baseForm.attribute}}"
           [matTooltip]="warning == false ? '': 'Current value not referenced by other selected fields'"
           [required]="isRequired()">
    <button matSuffix mat-icon-button *ngIf="model" (click)="clear()" matBadge="priority_high"
            [matBadgeHidden]="warning == false" matBadgeColor="warn"
            [matTooltip]="warning == false ? '': 'Current value not referenced by other selected fields'">
      <mat-icon>cancel</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCode.bind(this)" (optionSelected)="valueChanged()"
                      (optionActivated)="valueChanged()">
      <mat-option *ngFor="let option of filteredCodeMapsOptions" [value]="option.value"
                  (onSelectionChange)="valueChanged()" [matTooltip]="option.description ?? ''"
                  [matTooltipDisabled]="toolTipDisabled" [matTooltipPosition]="'right'">
        {{option.label + ' (' + option.value + ')'}}
      </mat-option>
      <mat-option *ngFor="let option of this.filteredFormOptions" [value]="option.code"
                  (onSelectionChange)="valueChanged()" [matTooltip]="option.display ?? ''"
                  [matTooltipDisabled]="toolTipDisabled"
                  [matTooltipPosition]="'right'">
        {{option.display ? option.display + ' (' + option.code + ')' : option.code }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="warning">Incompatible with another field</mat-error>
  </mat-form-field>
</form>
