<!-- <app-tab-with-menu [label]="'Sending HL7v2 Message to IIS'">

</app-tab-with-menu>
<app-hl7-post [patientId]="patientId" [vaccinationId]="vaccinationId" [hl7Message]="qbp"
  [loading]="qbpLoading"></app-hl7-post> -->
<mat-tab-group #tabs>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <app-immunization-registry-menu></app-immunization-registry-menu>
    </ng-template>
  </mat-tab>
  <mat-tab label="Send QPD" *ngIf="vaccinationId < 0">
    <app-hl7-post [patientId]="patientId" [hl7Message]="qbp" [loading]="qbpLoading"></app-hl7-post>
  </mat-tab>

  <mat-tab label="Send VXU">
    <app-hl7-post [patientId]="patientId" [vaccinationId]="vaccinationId" [hl7Message]="vxu"
                  [isForcingVXU]="patientId > -1" [loading]="vxuLoading"></app-hl7-post>
  </mat-tab>
  <mat-tab label="FHIR Proto translations">
    <app-fhir-v2-compare [patientId]="patientId" [vaccinationId]="vaccinationId"></app-fhir-v2-compare>
  </mat-tab>
</mat-tab-group>
