<button mat-mini-fab matTooltip="Edit" color="primary" (click)="openEdition()">
  <mat-icon>edit</mat-icon>
</button>
<button mat-stroked-button matTooltip="Send Hl7v2 QBP Message" color="primary" (click)="openHl7()">
  <mat-icon>send</mat-icon>
  HL7v2
</button>
<button mat-stroked-button matTooltip="Send FHIR Resource" color="primary" (click)="openFhir()">
  <mat-icon>send</mat-icon>
  FHIR
</button>
<button mat-stroked-button matTooltip="Copy to local facility" color="primary" (click)="openCopy()">
  <mat-icon>file_copy</mat-icon>
  Local facility
</button>
<button mat-stroked-button matTooltip="Fetch and merge remote vaccination history" color="primary" (click)="openFetch()">
  <mat-icon>cloud_download</mat-icon>
  Remote history
</button>

