ENV_IIS_POSTGRES_DB=hapi_fhir_iis
ENV_IIS_POSTGRES_USER=hapi_iis_web
ENV_IIS_POSTGRES_PASSWORD=LittleDarkAge

ENV_IIS_MYSQL_USER=iis_web
ENV_IIS_MYSQL_PASSWORD=YearOfTheCat
ENV_IIS_MYSQL_ROOT_PASSWORD=password123456789

ENV_IIS_JWT_SECRET=ThisNeedsToBeChanged
ENV_IIS_GITHUB_CLIENT_ID=optional
ENV_IIS_GITHUB_CLIENT_SECRET=optional