ENV_EHR_DATASOURCE_USER=ehr_web
ENV_EHR_DATASOURCE_PASSWORD=SharkBaitHooHaHa
ENV_EHR_JWT_SECRET=MerryChristmasMisterLawrence

ENV_DEFAULT_IIS_URL=http://localhost:8080/iis

# Experimental Proxy analyzer configuration, currently only working for FHIR
#EHR_PROXY_TEST_HOST=host.docker.internal
#EHR_PROXY_TEST_PORT=8888
#PROXY_HOST_SOAP=host.docker.internal
#PROXY_PORT_SOAP=8888