ENV_EHR_DATASOURCE_USER=ehr_web
ENV_EHR_DATASOURCE_PASSWORD=SharkBaitHooHaHa
ENV_EHR_JWT_SECRET=MerryChristmasMisterLawrence

ENV_DEFAULT_IIS_URL=http://localhost:8080/iis

#EHR_PROXY_TEST_HOST=host.docker.internal
#EHR_PROXY_TEST_PORT=8888