SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/ehr

SPRING_DATASOURCE_URL=jdbc:h2:mem:ehr-db
ENV_EHR_DATASOURCE_USER=ehr_web
ENV_EHR_DATASOURCE_PASSWORD=SharkBaitHooHaHa
ENV_EHR_JWT_SECRET=change-me

# Default IIS Url loaded for users
ENV_DEFAULT_IIS_URL=http://localhost:8080/iis

# Experimental Proxy analyzer configuration, currently only working for FHIR
#EHR_PROXY_TEST_HOST=host.docker.internal
#EHR_PROXY_TEST_PORT=8888
#PROXY_HOST_SOAP=host.docker.internal
#PROXY_PORT_SOAP=8888