<h3 mat-dialog-title>
  Sending HL7v2 Message to IIS
  <!-- <button mat-icon-button mat-dialog-close class="close-button" >X</button> -->
</h3>
<mat-form-field style="width: 100%;" appearance="fill" mat-dialog-content>
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
  <mat-label>HL7v2 message</mat-label>
  <textarea matInput style="height: 180px;" placeholder="" [(ngModel)]="hl7Message"> </textarea>
</mat-form-field>
<p>{{answer}}</p>
<p style="color: red;">{{error}}</p>
<mat-dialog-actions align="end">
  <div class="footer">
    <!-- <app-select-immunization-registry></app-select-immunization-registry> -->
    <app-immunization-registry-menu></app-immunization-registry-menu>
    <button mat-raised-button (click)="send()" cdkFocusInitial>Send to IIS</button>
  </div>
</mat-dialog-actions>
