<form (submit)="send()">
  <app-tab-with-menu [label]="'Sending HL7v2 Message to IIS'">
    <mat-form-field style="width: 100%;" appearance="fill" mat-dialog-content>
      <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
      <mat-label>HL7v2 message</mat-label>
      <textarea matInput style="height: 180px;" placeholder="" [(ngModel)]="hl7Message" name="message"></textarea>
    </mat-form-field>
    <p>{{answer}}</p>
    <p style="color: red;">{{error}}</p>
  </app-tab-with-menu>
  <div mat-dialog-actions align="end">
    <button mat-raised-button type="submit" color="primary">
      <mat-icon>send</mat-icon>
      Send to IIS
    </button>
  </div>
</form>
