<app-tab-with-menu [label]="'IIS Settings'" >
  <!-- <ng-container label>
    <span mat-tab-label>test</span>
  </ng-container> -->
  <!-- <ng-container label ngProjectAs="[mat-tab-label]">
    <p>Is content projection cool?</p>
  </ng-container> -->
    <!-- <span mat-tab-label label>test</span> -->
    <!-- <app-immunization-registry-form content></app-immunization-registry-form> -->
    <!-- TODO correct the design that prevent it from working in stepper -->

    <div style="overflow: scroll; height: 100%">
      <app-immunization-registry-form content [immunizationRegistry]="immunizationRegistryService.getCurrent()"></app-immunization-registry-form>
    </div>


</app-tab-with-menu>
<!-- TODO change this horrible fix -->
<div style="overflow: scroll; height: 100%">
  <app-immunization-registry-form content [immunizationRegistry]="immunizationRegistryService.getCurrent()"></app-immunization-registry-form>
</div>




