<mat-tab-group #tabs>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <app-immunization-registry-menu></app-immunization-registry-menu>
    </ng-template>
  </mat-tab>
  <mat-tab label="Bulk Import Asynch">
    <app-fhir-bulk [asynchronous]="true"></app-fhir-bulk>
  </mat-tab>
  <mat-tab label="Bulk Import Synch">
    <app-fhir-bulk [asynchronous]="false"></app-fhir-bulk>
  </mat-tab>
  <mat-tab label="NDJson Bundle import">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="tile-content">
          <app-fhir-bulk-ndjson-import ></app-fhir-bulk-ndjson-import>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="tile-content">
          <app-fhir-bulk-ndjson-manual style="width: 100%; height: 100%;"></app-fhir-bulk-ndjson-manual>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Settings">
    <div style="padding: 5px;"></div>
    <app-settings-dialog></app-settings-dialog>
  </mat-tab>
</mat-tab-group>


