<mat-tab-group #tabs>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <app-immunization-registry-menu></app-immunization-registry-menu>
    </ng-template>
  </mat-tab>
  <mat-tab label="Bulk Import Asynch">
    <app-fhir-bulk [asynchronous]="true"></app-fhir-bulk>
  </mat-tab>
  <mat-tab label="Bulk Import Synch">
    <app-fhir-bulk [asynchronous]="false"></app-fhir-bulk>
  </mat-tab>
  <mat-tab label="NDJson Bundle import">
    <app-fhir-bulk-ndjson-import ></app-fhir-bulk-ndjson-import>
  </mat-tab>
  <mat-tab label="Settings">
    <div style="padding: 5px;"></div>
    <!-- <app-select-immregistry></app-select-immregistry> -->
    <app-settings-dialog></app-settings-dialog>
  </mat-tab>
</mat-tab-group>


