<form (submit)="save()" #vaccinationForm="ngForm">
  <mat-dialog-content class="form-dialog-content">
    <mat-tab-group>
      <mat-tab label="Vaccination form">
        <div class="grid-container special-icon-badge">
          <div *ngFor="let card of VACCINATION_FORM_CARDS">
            <mat-card class="form-card">
              <mat-card-header *ngIf="card.title">
                <mat-card-title>
                  {{card.title}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="form-card-content">
                <!-- Vaccine forms -->
                <ng-container *ngFor="let form of card.vaccineForms">
                  <app-card-form class="card-form high-density" [form]="form"
                                 [model]="vaccination.vaccine[form.attribute]"
                                 (modelChange)="vaccination.vaccine[form.attribute] = $event"
                                 [referenceFilter]="references"
                                 (referenceEmitter)="referencesChange($event, form.codeMapLabel)"
                                 [lotNumberValid]="lotNumberValid"
                                 [compareTo]="(compareTo && compareTo['vaccine'])?  compareTo['vaccine'][form.attribute] : null"></app-card-form>
                </ng-container>
                <ng-container *ngFor="let form of card.vaccinationForms">
                  <app-card-form class="card-form high-density" [form]="form" [model]="vaccination[form.attribute]"
                                 (modelChange)="vaccination[form.attribute] = $event" [referenceFilter]="references"
                                 (referenceEmitter)="referencesChange($event, form.codeMapLabel)"
                                 [lotNumberValid]="lotNumberValid"
                                 [compareTo]="compareTo? compareTo[form.attribute] : null"></app-card-form>
                </ng-container>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Free form">
        <app-vaccination-free-form [formCards]="VACCINATION_FORM_CARDS" [(vaccination)]="vaccination"></app-vaccination-free-form>
      </mat-tab> -->
      <mat-tab label="Display">
        <app-vaccination-display [formCards]="VACCINATION_FORM_CARDS"
                                 [vaccinationEvent]="vaccination"></app-vaccination-display>
      </mat-tab>
      <button matButton></button>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end" class="form-action-bar">
    <button mat-stroked-button type="button" (click)="fillRandom()" *ngIf="!isEditionMode" color="primary">
      <mat-icon>casino</mat-icon>
      Random
    </button>
    <button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
