<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="90vh">
    <mat-grid-tile *ngFor="let card of formCards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header *ngIf="card.title">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngFor="let form of card.forms">
            <app-card-form class="card-form high-density" [form]="form" [model]="ehrGroup[form.attribute]"
              (modelChange)="ehrGroup[form.attribute] = $event"></app-card-form>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="fillRandom()" *ngIf="!isEditionMode">Fill with random Information</button>
  <button mat-raised-button type="submit" (click)="save()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
