<mat-tab-group>
  <mat-tab label="Patient information">
    <div class="grid-container">
      <mat-grid-list cols="6" rowHeight="150px">
        <mat-grid-tile *ngFor="let card of formCards" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header *ngIf="card.title">
              <mat-card-title>
                {{card.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <ng-container *ngFor="let form of card.forms" [ngSwitch]="form.type">

                <mat-form-field  appearance="fill" style="max-width: 46%" *ngSwitchCase="'text'">
                  <mat-label>{{form.title}}</mat-label>
                  <input matInput  type="{{form.type}}"  [(ngModel)]="patient[form.attribute]">
                </mat-form-field>

                <mat-form-field  appearance="fill" style="max-width: 46%" *ngSwitchCase="'date'">
                  <mat-label>{{form.title}}</mat-label>
                  <input matInput [matDatepicker]="picker" [ngModel]="asDate(patient[form.attribute])" (ngModelChange)="patient[form.attribute] = $event" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field  appearance="fill" style="max-width: 46%" *ngSwitchDefault>
                  <mat-label>{{form.title}}</mat-label>
                  <input matInput  [(ngModel)]="patient[form.attribute]">
                </mat-form-field>

              </ng-container>

            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-card>
            <mat-card-content class="dashboard-card-content">
              <button mat-raised-button (click)="fillRandom()">Fill with test information</button>
              <button mat-raised-button (click)="save()">Save</button>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>


  <mat-tab label="Form type 2"><app-dashboard></app-dashboard></mat-tab>
  <mat-tab label="Uncontrained patient form"> Form 3 </mat-tab>
</mat-tab-group>


