<div class="grid-container">
  <h1 class="mat-h1" *ngIf="patient">
    {{'Patient: ' + (patient.nameFirst ?? '') + ' ' + (patient.nameMiddle ?? '') + ' ' + (patient.nameLast ?? '')}}
  </h1>
  <mat-grid-list cols="4" rowHeight="330px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card >
        <mat-card-content class="dashboard-card-content">
           <app-patient-details [patient]="patient" [flex]="true"></app-patient-details>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="patient && patient.id" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Registered in Groups</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-patient-group-list [patient]="patient"></app-patient-group-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-feedback-table [patient]="patient"></app-feedback-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="patient && patient.id" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-vaccination-table [patientId]="patient.id"></app-vaccination-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="patient && patient.id" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-recommendation-table [patientId]="patient.id"></app-recommendation-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="patient && patient.id" [colspan]="4" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-patient-history [patientId]="patient.id"></app-patient-history>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
