<!-- <mat-grid-list cols="4" rowHeight="370px" *ngIf="imm">
  <mat-grid-tile [colspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header class="card-title">
        <mat-card-title class="card-title">
          Change IIS Information
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>
          <app-select-immregistry></app-select-immregistry>
        </div>
        <button mat-raised-button (click)="new()">New</button>
        <button mat-raised-button (click)="save()">Save</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

<app-settings-dialog ></app-settings-dialog>
