<app-hover-menu>
  <button trigger mat-raised-button [color]="'primary'">IIS: {{service.getCurrent().name}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <div content>
    <div mat-menu-item *ngFor="let item of list" type="button" (click)="service.setCurrent(item)">
      {{item.name}}
      <!-- <button mat-icon-button type="button"><mat-icon
          (click)="$event.stopPropagation(); openDialog(item)">edit</mat-icon></button> -->
    </div>
    <button mat-menu-item (click)="openDialog(undefined)" type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</app-hover-menu>
