<div class="grid-container">
  <h1 class="mat-h1">
    {{'Facility: ' + facility.nameDisplay}}
  </h1>
  <mat-grid-list cols="4" rowHeight="330px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card>
        <mat-card-content class="dashboard-card-content">
          <app-facility-tools [facility]="facility"></app-facility-tools>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Parent Facility</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p *ngIf="facility.parentFacility;else na">{{facility.parentFacility.nameDisplay}}</p>
          <ng-template #na><p>N/A</p></ng-template>
          <button mat-icon-button color="primary"
              (click)="openFacility(facility.parentFacility); $event.stopPropagation();" matTooltip="Open Dashboard" [disabled]="!facility.parentFacility">
              <mat-icon>open_in_new</mat-icon>
            </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-facility-table [title]="'Children Facilities'" [dataArray]="children"></app-facility-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-feedback-table [facility]="facility"></app-feedback-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
