<div style="display: flex; justify-content: space-between; gap: 0px 5px">
  <div style="width: 33%;">
    <app-hl7-post [patientId]="patientId" [vaccinationId]="vaccinationId" [hl7Message]="hl7V2Message"
                  [loading]="hl7V2Loading"
                  [displayStyle]="'display: flex; width: 100%; flex-direction: column'"></app-hl7-post>
  </div>
  <div style="width: 33%;">
    <app-hl7-post [patientId]="patientId" [vaccinationId]="vaccinationId" [hl7Message]="fhirV2Message"
                  [loading]="fhirV2MessageLoading"
                  [displayStyle]="'display: flex; width: 100%; flex-direction: column'"></app-hl7-post>
  </div>
  <div style="width: 33%;">
    <app-fhir-post [operation]="'$transaction'" [resource]="transaction" [resourceType]="''"
                   [resourceLoading]="transactionLoading"></app-fhir-post>
  </div>
</div>
