<div class="grid-container">
  <mat-grid-list cols="6" rowHeight="370px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header class="card-title">
          <mat-card-title class="card-title">
            Tenants
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-tenant-list></app-tenant-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header class="card-title">
          <mat-card-title class="card-title">
            Facilities
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-facility-list></app-facility-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" >
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-patient-table></app-patient-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-vaccination-table [patientId]="patientService.getPatientId()"></app-vaccination-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
