<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="600px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Authentication
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-authentication-form ></app-authentication-form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Tenants
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-tenant-list></app-tenant-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Facilities
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-facility-list></app-facility-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Patients
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-patient-list></app-patient-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
