<app-hover-menu [disabled]="disabled()">
  <button trigger mat-raised-button (click)="selectFirstOrCreate()"
    [color]="facilityService.getCurrentId() > 0 ? 'primary' : 'basic'" [disabled]="disabled()"
    [matTooltip]="disabled() ? 'Select Tenant to enable' : ''">
    {{(facilityService.getCurrent().id > 0)? ("Facility: " + facilityService.getCurrent().nameDisplay) : "Select
    Facility" }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <div content>
    <button mat-menu-item *ngFor="let item of list" (click)="onSelection(item)">{{item.nameDisplay}}</button>
    <button mat-menu-item (click)="openDialog()" *ngIf="!disabled()"><mat-icon>add</mat-icon></button>
  </div>
</app-hover-menu>
