<mat-form-field appearance="fill" style="width: 100%">
  <mat-label>Result File Url</mat-label>
  <input matInput [(ngModel)]="ndUrl" required  [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of resultList" [value]="option.url">
      <span>{{option.type}}</span> |
      <span>{{option.url}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div>
  <mat-checkbox appearance="fill" [(ngModel)]="loadInFacility">Load content in Current Facility</mat-checkbox>
  <div class="w3-right">
    <button mat-raised-button  (click)="ndJson()">Get NdJson file</button>
  </div>
</div>

<div>
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
  <mat-form-field style="width: 100%;">
    <mat-label>Fhir Resource</mat-label>
    <textarea class="result-space" [style]="{color: error? 'red':'black'}" matInput placeholder="" [(ngModel)]="result" ></textarea>

  </mat-form-field>
</div>
