<mat-tab-group #tabs>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <app-immunization-registry-menu></app-immunization-registry-menu>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manage groups" >
    <div class="grid-container">
      <mat-grid-list cols="2"  [rowHeight]="rowHeight()">
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <app-group-table (groupEmitter)="group = $event"></app-group-table>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <button mat-raised-button (click)="triggerRefresh()">Fetch groups from registry</button>
            <!-- <button mat-raised-button [disabled]="!group">Add a member</button>
            <button mat-raised-button [disabled]="!group">Remove a member</button>
            <button mat-raised-button [disabled]="!group">FHIR Resource</button> -->
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-card class="dashboard-card">
            <!-- table containing the group's patient information, wether id's match or not, with a button allowing $member-remove -->
            <!-- <app-patient-table [dataSource]="patientDatasource"></app-patient-table> -->
            <app-patient-received-table [group]="groupService.getCurrentObservable() | async"></app-patient-received-table>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab label="Create group" >
    <app-fhir-post></app-fhir-post>
    <button>link to subscription</button>
  </mat-tab>
</mat-tab-group>



