
<form>
  <mat-grid-list cols="1" rowHeight="230px">
    <mat-grid-tile *ngFor="let card of formCards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header *ngIf="card.title">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngFor="let form of card.clinicianForms" >
            <app-card-form class="card-form high-density"
              [form]="form"
              [model]="model[form.attribute]"
              (modelChange)="model[form.attribute] = $event"
              [referenceFilter]="references"></app-card-form>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="fillRandom()" *ngIf="!model.id || model.id < 0">Fill with random Information</button>
    <button mat-raised-button type="submit" (click)="save()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>


