<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Plain Text">
    <div class="textarea-container">
      <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
      <!-- <mat-option [value]="'Update'">Update</mat-option> -->
      <textarea [ngClass]="resultClass()" [style]="{ height: '77vh'}" readonly name="plain">{{plain}}</textarea>
      <button mat-stroked-button type="button" [cdkCopyToClipboard]="plain"
              (click)="snackBarService.successMessage('Copied to clipBoard')">
        <mat-icon>content_copy</mat-icon>
        Copy
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Raw ACK">
    <div class="textarea-container">
      <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
      <!-- <mat-option [value]="'Update'">Update</mat-option> -->
      <textarea [ngClass]="resultClass()" [style]="{ height: '77vh'}" readonly
                name="answer">{{acknowledgementObject.rawResult}}</textarea>
      <button mat-stroked-button type="button" [cdkCopyToClipboard]="acknowledgementObject.rawResult ?? ''"
              (click)="snackBarService.successMessage('Copied to clipBoard')">
        <mat-icon>content_copy</mat-icon>
        Copy
      </button>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Errors
      <span [ngClass]="COLOR_THEME_CLASS['errors']">
        <mat-chip color="warn"
                  [highlighted]="acknowledgementObject.sortedResult.errors.length > 0">{{acknowledgementObject.sortedResult.errors.length}}</mat-chip>
      </span>
    </ng-template>
    <app-feedback-table [patient]="acknowledgementObject.patient"
                        [vaccination]="acknowledgementObject.vaccinations && acknowledgementObject.vaccinations.length === 1 ? acknowledgementObject.vaccinations[0] : undefined "
                        [dataArray]="acknowledgementObject.sortedResult.errors"></app-feedback-table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Warnings
      <span [ngClass]="COLOR_THEME_CLASS['warnings']">
        <mat-chip color="warn"
                  [highlighted]="acknowledgementObject.sortedResult.warnings.length > 0">{{acknowledgementObject.sortedResult.warnings.length}}</mat-chip>
      </span>
    </ng-template>
    <app-feedback-table [patient]="acknowledgementObject.patient"
                        [vaccination]="acknowledgementObject.vaccinations && acknowledgementObject.vaccinations.length === 1 ? acknowledgementObject.vaccinations[0] : undefined "
                        [dataArray]="acknowledgementObject.sortedResult.warnings"></app-feedback-table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Notices
      <span [ngClass]="COLOR_THEME_CLASS['notices']">
        <mat-chip color="warn"
                  [highlighted]="acknowledgementObject.sortedResult.notices.length > 0">{{acknowledgementObject.sortedResult.notices.length}}</mat-chip>
      </span>
    </ng-template>
    <app-feedback-table [patient]="acknowledgementObject.patient"
                        [vaccination]="acknowledgementObject.vaccinations && acknowledgementObject.vaccinations.length === 1 ? acknowledgementObject.vaccinations[0] : undefined "
                        [dataArray]="acknowledgementObject.sortedResult.notices"></app-feedback-table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Infos
      <span [ngClass]="COLOR_THEME_CLASS['infos']">
        <mat-chip color="warn"
                  [highlighted]="acknowledgementObject.sortedResult.infos.length > 0">{{acknowledgementObject.sortedResult.infos.length}}</mat-chip>
      </span>
    </ng-template>
    <app-feedback-table [patient]="acknowledgementObject.patient"
                        [vaccination]="acknowledgementObject.vaccinations && acknowledgementObject.vaccinations.length === 1 ? acknowledgementObject.vaccinations[0] : undefined "
                        [dataArray]="acknowledgementObject.sortedResult.infos"></app-feedback-table>
  </mat-tab>
  <mat-tab label="Raw Source">
    <div class="textarea-container">
      <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
      <!-- <mat-option [value]="'Update'">Update</mat-option> -->
      <textarea [ngClass]="resultClass()" [style]="{ height: '77vh'}" readonly
                name="answer">{{acknowledgementObject.rawSource}}</textarea>
      <button mat-stroked-button type="button" [cdkCopyToClipboard]="acknowledgementObject.rawSource ?? ''"
              (click)="snackBarService.successMessage('Copied to clipBoard')">
        <mat-icon>content_copy</mat-icon>
        Copy
      </button>
    </div>
  </mat-tab>

</mat-tab-group>
