<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab *ngFor="let item of errSegments | keyvalue">
    <ng-template mat-tab-label>

      {{item.key | titlecase}}
      <mat-chip>{{item.value.length}}</mat-chip>
    </ng-template>
    <p>{{item.value | json}}</p>
    <!-- <app-feedback-table [patient]="patient" [vaccination]="vaccination" [dataArray]="item.value"></app-feedback-table> -->
  </mat-tab>
  <!-- <mat-tab>
    <ng-template mat-tab-label>

      Warning
      <mat-chip>0</mat-chip>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>

      Notice
      <mat-chip>0</mat-chip>
    </ng-template>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>

      Info
      <mat-chip>0</mat-chip>
    </ng-template>
  </mat-tab> -->
</mat-tab-group>
