<div class="grid-container">
  <h1 class="mat-h1" *ngIf="vaccination && vaccination.vaccine">
    <!-- {{'Vaccination: ' +  (vaccination.vaccine && vaccination.vaccine.vaccineCvxCode ? codeMapsService.getCodeMap("VACCINATION_CVX_CODE")[vaccination.vaccine.vaccineCvxCode].label : "") + -->
    {{'Vaccination: ' +  (vaccination.vaccine && vaccination.vaccine.vaccineCvxCode ? (vaccination.vaccine.vaccineCvxCode | codeMaps: "VACCINATION_CVX_CODE").label : "") +
    ' ' + (vaccination.vaccine && vaccination.vaccine.administeredDate ? (vaccination.vaccine.administeredDate | date) : "") }}
  </h1>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card >
        <mat-card-content class="dashboard-card-content">
          <app-vaccination-details [vaccination]="vaccination" [flex]="true" ></app-vaccination-details>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-feedback-table [vaccination]="vaccination"></app-feedback-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-vaccination-history [vaccinationId]="vaccination.id"></app-vaccination-history>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
