<!-- Multiples forms like phones or identifiers are singled out -->
<ng-container [ngSwitch]="baseForm.type">
  <div *ngSwitchCase="'text'">
    <mat-form-field class="text-field" appearance="outline" [matTooltipDisabled]="!compareTo"
                    [matTooltip]="compareTo? 'Previously : ' + compareTo : ''">
      <mat-label>{{baseForm.title}}</mat-label>
      <input matInput name="{{baseForm.attributeName}}" type="{{baseForm.type}}" [(ngModel)]="model" [disabled]="false"
             [required]="isRequired()" [customValidator]="baseForm.customValidator" #valueCtrl="ngModel">
      <span matBadge="history" [matBadgeHidden]="!compareTo" matBadgeColor="accent" matBadgePosition="below"></span>

      <!-- <mat-hint align="start" *ngIf="baseForm.hintProducer"><strong>{{baseForm.hintProducer()}}</strong></mat-hint> -->
      <!-- <mat-error>
        eoor
      </mat-error> -->
      <mat-error *ngIf="valueCtrl.errors && valueCtrl.errors['customIssue']; else otherError">
        {{valueCtrl.errors['customIssue']}}
      </mat-error>
      <ng-template #otherError>
        <mat-error *ngIf="valueCtrl.errors && !valueCtrl.errors['required']; else requiredError">
          {{valueCtrl.errors | json}}
        </mat-error>
        <ng-template #requiredError>
          <mat-error>required</mat-error>
        </ng-template>
      </ng-template>
    </mat-form-field>
  </div>

  <app-select-codebase *ngSwitchCase="'code'" [model]="asString(model)" (modelChange)="model = $event"
                       [baseForm]="baseForm" class="select-field"
                       [referenceFilterTableObservable]="referenceFilterTableObservable"
                       [compareTo]="compareTo" [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                       [overrideAllFieldsRequired]="overrideAllFieldsRequired"
                       (referenceEmitter)="referencesChange($event)"></app-select-codebase>

  <app-clinician-select *ngSwitchCase="'clinician'" [baseForm]="baseForm" [model]="model" (modelChange)="model = $event"
                        [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                        [overrideAllFieldsRequired]="overrideAllFieldsRequired"
                        class="select-field"></app-clinician-select>

  <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="date-field" [matTooltipDisabled]="!compareTo"
                  [matTooltip]="compareTo? 'Previously : ' + (compareTo | date: 'MM/dd/yyyy') : ''">
    <mat-label>{{baseForm.title}}</mat-label>
    <input matInput name="{{baseForm.attributeName}}" [matDatepicker]="picker" [ngModel]="model"
           (ngModelChange)="model = $event" [disabled]="baseForm.disabled ? true : false" [required]="isRequired()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <span matBadge="history" [matBadgeHidden]="!compareTo" matBadgeColor="accent" matBadgePosition="below"></span>
  </mat-form-field>

  <div *ngSwitchCase="'short'">
    <mat-label class="short-label">{{baseForm.title}}</mat-label>
    <input name="{{baseForm.attributeName}}" class="short-text-field" [(ngModel)]="model"
           [matTooltipDisabled]="!compareTo" [matTooltip]="compareTo? 'Previously ' + compareTo : ''"
           [required]="isRequired()">
    <span matBadge="history" [matBadgeHidden]="!compareTo" matBadgeColor="accent" matBadgePosition="below"></span>
  </div>

  <div *ngSwitchCase="'yesNo'">
    <mat-label class="short-label">{{baseForm.title}}</mat-label>
    <select [(ngModel)]="model" name="{{baseForm.attributeName}}" aria-label="Font Style"
            [matTooltipDisabled]="!compareTo" [matTooltip]="compareTo? 'Previously ' + compareTo : ''"
            [required]="isRequired()">
      <option [hidden]="!model" value=""></option>
      <option value="Y">Y</option>
      <option value="N">N</option>
      <mat-error *ngIf="compareTo">{{compareTo | date: 'MM-dd-YYYY'}}</mat-error>
    </select>
    <span matBadge="history" [matBadgeHidden]="!compareTo" matBadgeColor="accent" matBadgePosition="below"></span>
  </div>

  <div *ngSwitchCase="'boolean'">
    <mat-label class="short-label">{{baseForm.title}}</mat-label>
    <select [(ngModel)]="model" name="{{baseForm.attributeName}}" aria-label="Font Style"
            [matTooltipDisabled]="!compareTo" [matTooltip]="compareTo? 'Previously ' + compareTo : ''"
            [required]="isRequired()">
      <option [hidden]="!model" value=""></option>
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <span matBadge="history" [matBadgeHidden]="!compareTo" matBadgeColor="accent" matBadgePosition="below"></span>
  </div>

  <div *ngSwitchCase="'select'">
    <mat-label class="short-label">{{baseForm.title}}</mat-label>
    <select *ngIf="baseForm.options; else short" [(ngModel)]="model" name="{{baseForm.attributeName}}"
            aria-label="Font Style" [matTooltipDisabled]="!compareTo"
            [matTooltip]="compareTo? 'Previously ' + compareTo : ''"
            [required]="isRequired()">
      <option [hidden]="model == undefined" value=""></option>
      <option *ngFor="let option of baseForm.options" value="{{option.code}}">{{option.display ?? option.code}}</option>
    </select>
    <span matBadge="history" [matBadgeHidden]="!compareTo" matBadgeColor="accent" matBadgePosition="below"></span>
    <ng-template #short>
      <input name="{{baseForm.attributeName}}" class="short-text-field" [(ngModel)]="model">
    </ng-template>
  </div>

  <div *ngSwitchCase="'nextOfKin'">
    <app-next-of-kin-form [baseForm]="baseForm" [model]="model ?? {}" (modelChange)="model = $event"
                          [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                          [overrideAllFieldsRequired]="overrideAllFieldsRequired"></app-next-of-kin-form>
  </div>

  <div *ngSwitchCase="'phoneNumbers'">
    <app-phone-list-form [baseForm]="baseForm" [model]="model ?? []" (modelChange)="model = $event"
                         [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                         [overrideAllFieldsRequired]="overrideAllFieldsRequired"></app-phone-list-form>
  </div>
  <div *ngSwitchCase="'races'">
    <app-race-list-form [baseForm]="baseForm" [model]="model ?? []" (modelChange)="model = $event"
                        [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                        [overrideAllFieldsRequired]="overrideAllFieldsRequired"></app-race-list-form>
  </div>
  <div *ngSwitchCase="'identifiers'">
    <app-identifier-list-form [baseForm]="baseForm" [model]="model ?? []" (modelChange)="model = $event"
                              [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                              [overrideAllFieldsRequired]="overrideAllFieldsRequired"></app-identifier-list-form>
  </div>
  <div *ngSwitchCase="'nextOfKinRelationships'">
    <app-next-of-kin-relationship-list-form [baseForm]="baseForm" [model]="model ?? []" (modelChange)="model = $event">
    </app-next-of-kin-relationship-list-form>
  </div>
  <div *ngSwitchCase="'addresses'">
    <app-address-list-form [baseForm]="baseForm" [model]="model ?? []" (modelChange)="model = $event"
                           [overrideNoFieldsRequired]="overrideNoFieldsRequired"
                           [overrideAllFieldsRequired]="overrideAllFieldsRequired"></app-address-list-form>
  </div>

  <div *ngSwitchDefault></div>

</ng-container>
