<ng-container [ngSwitch]="form.type" >

  <div *ngSwitchCase="'text'">
    <mat-form-field class="text-field" appearance="outline"
        [matTooltipDisabled]="!compareTo"
        [matTooltip]="compareTo? 'Previously : ' + compareTo : ''">
      <mat-label>{{form.title}}</mat-label>
      <input matInput name="{{form.attribute}}" type="{{form.type}}"  [(ngModel)]="model" [disabled]="false">
      <span matBadge="history"
        [matBadgeHidden]="!compareTo"
        matBadgeColor="accent"
        matBadgePosition="below"></span>
    </mat-form-field>
    <!-- Errors in lot number validation-->
    <div *ngIf="!lotNumberValid && form.attribute == 'lotNumber'" class="error">Not matching manufacturer patterns</div>
  </div>

  <app-select-codebase *ngSwitchCase="'code'"
    [model]="asString(model)"
    (modelChange)="model = $event"
    [form]="form"
    class="select-field"
    [referenceFilter]="referenceFilter"
    [compareTo]="compareTo"
    (referenceEmitter)="referencesChange($event)"></app-select-codebase>

  <app-clinician-select *ngSwitchCase="'clinician'"
    [form]="form"
    [model]="model"
    (modelChange)="model = $event"
    class="select-field"></app-clinician-select>

  <mat-form-field *ngSwitchCase="'date'"
    appearance="outline" class="date-field"
    [matTooltipDisabled]="!compareTo"
    [matTooltip]="compareTo? 'Previously : ' + (compareTo | date: 'MM/dd/yyyy') : ''">
    <mat-label>{{form.title}}</mat-label>
    <input matInput name="{{form.attribute}}" [matDatepicker]="picker" [ngModel]="model" (ngModelChange)="model = $event" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <span matBadge="history"
        [matBadgeHidden]="!compareTo"
        matBadgeColor="accent"
        matBadgePosition="below"></span>
  </mat-form-field>

  <div *ngSwitchCase="'short'">
    <mat-label class="short-label">{{form.title}} </mat-label>
    <input name="{{form.attribute}}" class="short-text-field" [(ngModel)]="model"
        [matTooltipDisabled]="!compareTo"
        [matTooltip]="compareTo? 'Previously ' + compareTo : ''">
    <span matBadge="history"
      [matBadgeHidden]="!compareTo"
      matBadgeColor="accent"
      matBadgePosition="below"></span>
  </div>

  <div *ngSwitchCase="'yesNo'">
    <mat-label class="short-label">{{form.title}}</mat-label>
    <select [(ngModel)]="model" name="{{form.attribute}}"  aria-label="Font Style"
        [matTooltipDisabled]="!compareTo"
        [matTooltip]="compareTo? 'Previously ' + compareTo : ''">
      <option [hidden]="!model" value=""></option>
      <option value="Y">Y</option>
      <option value="N">N</option>
      <mat-error *ngIf="compareTo">{{compareTo | date: 'MM-dd-YYYY'}}</mat-error>
    </select>
    <span matBadge="history"
        [matBadgeHidden]="!compareTo"
        matBadgeColor="accent"
        matBadgePosition="below"></span>
  </div>

  <div *ngSwitchCase="'boolean'">
    <mat-label class="short-label">{{form.title}}</mat-label>
    <select [(ngModel)]="model" name="{{form.attribute}}"  aria-label="Font Style"
        [matTooltipDisabled]="!compareTo"
        [matTooltip]="compareTo? 'Previously ' + compareTo : ''">
      <option [hidden]="!model" value=""></option>
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <span matBadge="history"
        [matBadgeHidden]="!compareTo"
        matBadgeColor="accent"
        matBadgePosition="below"></span>
  </div>

  <div *ngSwitchCase="'select'">
    <mat-label class="short-label">{{form.title}}</mat-label>
    <select *ngIf="form.options; else short" [(ngModel)]="model" name="{{form.attribute}}"  aria-label="Font Style"
        [matTooltipDisabled]="!compareTo"
        [matTooltip]="compareTo? 'Previously ' + compareTo : ''">
      <option [hidden]="!model" value=""></option>
      <option *ngFor="let option of form.options" value="{{option.value}}">{{option.label ?? option.value}}</option>
    </select>
    <span matBadge="history"
        [matBadgeHidden]="!compareTo"
        matBadgeColor="accent"
        matBadgePosition="below"></span>
    <ng-template #short >
      <input name="{{form.attribute}}" class="short-text-field" [(ngModel)]="model">
    </ng-template>
  </div>

  <div *ngSwitchDefault></div>

</ng-container>
