<button mat-raised-button color="primary" (click)="loadEverythingFromPatient()">Fetch vaccination history from IIS</button>
<mat-grid-list cols="2">
  <mat-grid-tile [colspan]="1" >
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <app-vaccination-table [patientId]="patientId" [allowCreation]="false" (selectedEmitter)="selectedVaccination = $event"></app-vaccination-table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" >
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <mat-progress-bar *ngIf="loading" [mode]="'query'"></mat-progress-bar>
        <app-vaccination-received-table [vaccinations]="vaccinationEvents" [patientId]="patientId" [vaccinationToCompare]="selectedVaccination"></app-vaccination-received-table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- <mat-grid-tile [colspan]="1" >
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile> -->
</mat-grid-list>


