<form (submit)="save()">
  <mat-dialog-content class="form-dialog-content">
    <div class="grid-container">
      <div *ngFor="let card of formCards">
        <mat-card class="form-card">
          <mat-card-header *ngIf="card.title">
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="form-card-content">
            <ng-container class="form-card-content" *ngFor="let form of card.forms">
              <app-card-form class="card-form high-density" [baseForm]="form" [model]="ehrGroup[form.attributeName]"
                             (modelChange)="ehrGroup[form.attributeName] = $event"></app-card-form>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- <div>
        <mat-card class="form-card">
          <mat-card-header>
            <mat-card-title>
              Registry
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="form-card-content" style="flex-direction: column;">
              <app-select-immunization-registry [(selectedElement)]="ehrGroup.immunizationRegistry" ></app-select-immunization-registry>
          </mat-card-content>
        </mat-card>
      </div> -->
      <div>
        <mat-card class="form-card">
          <mat-card-header>
            <mat-card-title>
              Characteristics
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="form-card-content" style="flex-direction: column;">
            <!-- <div> -->
            <div class="characteristic-form-content" *ngFor="let characteristic of ehrGroup.ehrGroupCharacteristics">
              <div *ngFor="let form of characteristicForms">
                <app-card-form class="card-form high-density" [baseForm]="form"
                               [model]="characteristic[form.attributeName]"
                               (modelChange)="characteristic[form.attributeName] = $event"></app-card-form>
              </div>
            </div>
            <!-- </div> -->
            <div>
              <button mat-stroked-button type="button" (click)="addChar()" color="primary">
                <mat-icon>add</mat-icon>
                Add Characteristic
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions align="end" class="form-action-bar">
    <app-select-immunization-registry
      [(selectedElement)]="ehrGroup.immunizationRegistry"></app-select-immunization-registry>

    <button mat-stroked-button type="button" (click)="fillRandom()" *ngIf="!isEditionMode" color="primary">
      <mat-icon>casino</mat-icon>
      Random
    </button>
    <button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
