<form #selectClinicianForm="ngForm" (submit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>{{baseForm.title}}</mat-label>
    <input matInput [(ngModel)]="model" [matAutocomplete]="auto" class="select-field-input"
           name="{{baseForm.attributeName}}" (ngModelChange)="filterChange($event)" [required]="isRequired()">

    <!-- <button matSuffix mat-icon-button *ngIf="model" (click)="clear()" type="button">
      <mat-icon>cancel</mat-icon>
    </button> -->

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                      (optionSelected)="valueChanged('selected')">
      <mat-option *ngFor="let clinician of filteredOptions" [value]="clinician.id"
                  (onSelectionChange)="valueChanged('changed')">
        {{displayFn(clinician)}}
        <mat-icon class="w3-right" (click)="$event.stopPropagation(); openEdition(clinician);">edit</mat-icon>
      </mat-option>
      <mat-option (click)="$event.stopPropagation(); add(); ">
        <mat-icon> add</mat-icon>
      </mat-option>
    </mat-autocomplete>


  </mat-form-field>

</form>
