<div class="identifier-form-content" *ngFor="let identifier of identifierList">
  <div *ngFor="let form of identifierForms">
    <app-card-form class="card-form high-density" [form]="form" [model]="identifier[form.attribute]"
                   (modelChange)="identifier[form.attribute] = $event; identifierListChange.emit(identifierList)"></app-card-form>
  </div>
</div>
<div>
  <button mat-stroked-button type="button" (click)="addIdentifier()" color="primary">
    <mat-icon>add</mat-icon>
    Add Identifier
  </button>
</div>
