<app-hover-menu>
  <button trigger mat-raised-button  (click)="selectFirstOrCreate()" [color]="tenantService.getTenantId() > 0 ? 'primary' : 'basic'" >
    {{(tenantService.getTenantId() > 0)? ("Tenant: " + tenantService.getTenant().nameDisplay) : "Select Tenant" }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <div content>
    <button mat-menu-item *ngFor="let item of list" (click)="onSelection(item)"> {{item.nameDisplay}}</button>
    <button mat-menu-item (click)="openDialog()"><mat-icon>add</mat-icon></button>
  </div>
</app-hover-menu>
