<mat-selection-list #facilities  [multiple]="false" >
  <mat-list-option *ngFor="let facility of list" (click)="onSelection(facility)" [selected]="facilityService.getCurrentId() === facility.id">
    {{facility.nameDisplay}}
    <mat-divider></mat-divider>
  </mat-list-option>
  <div *ngIf="tenantService.getCurrentId() > 0">
    <button mat-mini-fab *ngIf="tenantService.getCurrentId() > 0" (click)="openDialog()" color="primary" >
      <mat-icon>add</mat-icon>
    </button>
  </div>

</mat-selection-list>
