<div class="sticky-header">
  <div class="sticky-header-prefix">
    <span class="custom-title">{{title}}</span>
    <!-- <button mat-icon-button *ngIf="allow_create" style="margin-top: -7px; margin-bottom: -6px;" color="primary"
      matTooltip="New Sub Facility">
      <mat-icon>add</mat-icon>
    </button> -->
  </div>
  <input (keyup)="applyFilter($event)" class="search-bar" placeholder="Search">
</div>
<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="nameDisplay">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.nameDisplay}}</td>
  </ng-container>
  <ng-container matColumnDef="childrenCount">
    <th mat-header-cell *matHeaderCellDef>Number of Children</th>
    <td mat-cell *matCellDef="let element">
      {{element.childrenCount}}
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
      <div class="element-detail"
        [@detailExpand]="selectedElement && element.id === selectedElement.id ? 'expanded' : 'collapsed'">
        <app-facility-tools [facility]="element">
          <button mat-icon-button color="primary" type="button" (click)="openFacility(element); $event.stopPropagation();"
            matTooltip="Open Dashboard">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </app-facility-tools>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let element; columns: columns;" class="element-row"
    [class.expanded-row]="selectedElement === element" (click)="onSelection(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
<!-- <button *ngIf="allow_create" mat-mini-fab style="float: center;" color="primary">
  <mat-icon>add</mat-icon>
</button> -->
<app-empty-list-message></app-empty-list-message>
