/* .form-tile {
  overflow: scroll;
} */


.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  /* Add this class to the parent component */
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Occupy the full height of the parent */
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Allow the form to grow and take available space */
  overflow: hidden;
  /* Prevent the form itself from scrolling */
}

.list-card {
  overflow: auto;
  /* Enable scrolling for the content within the list card */
}

.list-card .mat-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Make the content container take full height of the card */
  overflow: hidden;
  /* Hide overflow on the content container */
}


/* Optional: Style the list header to stay at the top of the scrollable area */
.list-card .list-header {
  position: sticky;
  top: 0;
  background-color: white;
  /* Ensure it doesn't become transparent over scrolling content */
  z-index: 2;
  /* Keep it above the list items */
}

.list-header .search-bar {
  z-index: 2;
}
