<!-- <form [style]="'width: 100%'" (submit)="send()"> -->
<div class="textarea-container">

  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Json value</mat-label>
    <textarea matInput style="height: 60vh;" placeholder="" [formControl]="formControl" name="message"></textarea>
    <mat-error>{{formControl.errors ? formControl.errors['message'] : "JSON error"}}</mat-error>

  </mat-form-field>

  <button mat-stroked-button color="primary" [cdkCopyToClipboard]="formControl.value | json" type="button">
    <mat-icon>content_copy</mat-icon>
    Copy to clipboard
  </button>

</div>
<!-- <div class="footer low-density">
    <div class="footer-end">
      <button mat-raised-button class="w3-right" type="submit" color="primary">
        <mat-icon>send</mat-icon>
        Send to API
      </button>
    </div>
  </div>
  <div [style]="{width: '90%'}" class="w3-right textarea-container">
    <textarea [ngClass]="resultClass()" [rows]="6" [style]="{width: '100%'}" readonly
      name="answer">{{answer}}</textarea>
  </div> -->

<!-- </form> -->
