/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.close-button{
  position: absolute;
  float: right;
  top:-24px;
  right:-24px;
}

.form-dialog-container .mat-dialog-container {
  /* add your styles */
  margin: 0px;
  padding: 0px;
  /* max-width: 98vw;
  max-height: 95vh; */
  /* height: fit-content;
  width: 90%; */
}

.full-screen-modal .mat-dialog-container {
  /* add your styles */
  margin: 10px;
  /* padding: 2px; */
  /* padding-top: 10px; */
  padding-bottom: 25px;
  /* max-width: 98vw;
  max-height: 95vh; */
  /* height: fit-content;
  width: 90%; */
}

.dialog-without-bar .mat-dialog-container {
  margin: 0px;
  padding-bottom: 0px;
}

.dialog-with-bar .mat-dialog-container {
  margin: 0px;
  /* padding: 2px; */
  /* padding-top: 10px; */
  /* padding-bottom: 25px; */
}

.custom-title {
  margin-right: 3px;
  margin-left: 3px;
  font-size: 1.4em;
  font-weight: 590;
  /* margin-top: auto; */
  /* margin-bottom: -5px; */
}

.search-bar {
  padding-right: 1em;
  padding-left: 0px;
  min-width: 55px;
  flex-grow: 0.5;
  flex-shrink: 2;
  /* max-width: 220px; */
}

.sticky-header {
  text-align: left;
  position:sticky;
  top: 0;
  z-index: 1;
  /* height: min-content; */
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-header-button {
  margin-top: -7px;
  margin-bottom: -6px;
}

.sticky-header-prefix {
  display: flex;
  align-items: center;
}

.table-container {
  overflow: auto;
}

.custom-fab-button {
  /* display: block; */
  /* background-color: #eee;
  width: 1em;
  height: 1em;
  font-size: 16px; */
  /* font; */
  padding-left: 1em;

}
.custom-fab-icon {
  /* font-size: 16px; */
  /* margin-top: -8px; */
}


th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 5px;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 5px;
}


/* .mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
} */
