// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ehr-primary: mat.define-palette(mat.$indigo-palette);
$ehr-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ehr-warn: mat.define-palette(mat.$red-palette);

// $ehr-elevation: mat-palette($mat-light-blue);

// Create the theme object (a Sass map containing all of the palettes).
// $ehr-theme: mat-light-theme($ehr-primary, $ehr-accent, $ehr-warn);
$ehr-colors: ('primary': $ehr-primary, "accent": $ehr-accent, "warn": $ehr-warn);

$ehr-theme: mat.define-light-theme((
  'color':  $ehr-colors,
  'typography': mat.define-typography-config(),
  'density': -3,
  ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// @include mat.all-component-themes($ehr-theme);
@include mat.all-component-colors($ehr-theme);
@include mat.all-component-typographies(mat.define-typography-config());

@include mat.form-field-density(-5);
@include mat.icon-button-density(-3);
@include mat.autocomplete-density(-3);
@include mat.list-density(0);

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  line-height: var(--mdc-typography-caption-line-height, 10px);
  height: 0;
}

.mat-badge-content {
  font-family: 'Material Icons';
}

// .mdc-text-field .mdc-floating-label {
//   top: 100%
// }

// .mat-mdc-form-field-flex > .mat-mdc-form-field-infix { padding: 0.4em 0px;}
// .mat-mdc-form-field-label-wrapper { top: -1.5em; }

// .mat-mdc-form-field-appearance-outline.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }

// .mat-mdc-text-field-wrapper {
//   // height: auto;
//   flex: auto;
// }

// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//   padding-top: 4px;
//   padding-bottom: 4px;
// }

// .mat-mdc-form-field-infix {
//   min-height: 28px;
// }


th.mat-mdc-header-cell:last-of-type, td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-right: 12px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 2.5em;
  padding: 8px;
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 2.5em;
  padding: 8px;
}
