// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ehr-primary: mat-palette($mat-indigo);
$ehr-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ehr-warn: mat-palette($mat-red);

// $ehr-elevation: mat-palette($mat-light-blue);


// Create the theme object (a Sass map containing all of the palettes).
$ehr-theme: mat-light-theme($ehr-primary, $ehr-accent, $ehr-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($ehr-theme);

.mat-badge-content {
  font-family: 'Material Icons';
}

.mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px;}
.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

