<h3 mat-dialog-title>
  Facility Form
</h3>
<form (submit)="save()">
  <div>
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>
          Main characteristics
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-card-content">
        <mat-form-field appearance="fill">
          <mat-label>Facility name</mat-label>
          <input matInput [(ngModel)]="facility.nameDisplay" name="nameDisplay">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Parent Facility</mat-label>
          <mat-select [(ngModel)]="parentId" name="parentFacility">
            <mat-option *ngFor="let item of facilityList" value="{{item.id | number }}">{{item.nameDisplay}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>
          Identifiers
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-card-content">
        <app-identifier-list-form [itemList]="facility.identifiers"
          (itemListChange)="facility.identifiers = $event"></app-identifier-list-form>
      </mat-card-content>

    </mat-card> -->
  </div>


  <div mat-dialog-actions align="end" class="form-action-bar">
    <mat-checkbox *ngIf="!editionMode" [(ngModel)]="add_patients" name="add_patients">Populate</mat-checkbox>
    <!-- <mat-slide-toggle *ngIf="!editionMode" [(ngModel)]="add_patients" name="add_patients">Populate</mat-slide-toggle> -->
    <button mat-stroked-button type="button" (click)="random()" *ngIf="!editionMode" color="primary">
      <mat-icon>casino</mat-icon>
      Random
    </button>
    <button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>