<h3 mat-dialog-title>
  Create Facility
  <!-- <button mat-dialog-close class="close-button">X</button> -->
</h3>
<form (submit)="save()">
  <mat-form-field appearance="fill">
    <mat-label>Facility name</mat-label>
    <input matInput [(ngModel)]="facility.nameDisplay" name="nameDisplay">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Parent Facility</mat-label>
    <mat-select [(ngModel)]="parentId" name="parentFacility">
      <mat-option *ngFor="let item of facilityList" value="{{item.id | number }}">{{item.nameDisplay}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <mat-checkbox *ngIf="!editionMode" [(ngModel)]="add_patients" name="add_patients">Populate</mat-checkbox>
    <!-- <mat-slide-toggle *ngIf="!editionMode" [(ngModel)]="add_patients" name="add_patients">Populate</mat-slide-toggle> -->
    <button mat-stroked-button type="button" (click)="random()" *ngIf="!editionMode" color="primary">
      <mat-icon>casino</mat-icon>
      Random
    </button>
    <button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
