table {
  width: 100%;
}

tr {
  text-align: left;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

/* .element-detail {
  overflow: hidden;
  display: flex;
} */
.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.mat-header-row, .mat-footer-row, .mat-row {
  height: 2.5em;
  /* min-height: 4em; */
  padding: 8px;
}
