<div class="grid-container">
  <mat-grid-list cols="7" [rowHeight]="rowHeight()">
    <!-- <mat-grid-list cols="7"  rowHeight="{{rowHeight}}"> -->
    <!-- <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header class="card-title">
          <mat-card-title class="card-title">
            Tenants
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-tenant-list></app-tenant-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header class="card-title">
          <mat-card-title class="card-title">
            Facilities
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-facility-list></app-facility-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="4">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #patients>
          <app-patient-table (selectEmitter)="this.patientService.setCurrent($event ?? {})" [observableRefresh]="patientListRefreshObservable()" [observableSource]="patientListObservable()" [facility]="facilityService.getCurrentObservable() | async"></app-patient-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #feedback>
          <app-feedback-table [facility]="facilityService.getCurrentObservable() | async"></app-feedback-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #vaccinations>
          <app-vaccination-table [patientId]="patientService.getCurrentId()"></app-vaccination-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #recommendations>
          <app-recommendation-table [patientId]="patientService.getCurrentId()"></app-recommendation-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
