<div class="grid-container">
  <mat-grid-list cols="7" [rowHeight]="rowHeight()">
    <mat-grid-tile [colspan]="4">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #patients>
          <app-patient-table (selectEmitter)="this.patientService.setCurrent($event ?? {})" [observableRefresh]="patientListRefreshObservable()" [observableSource]="patientListObservable()" [facility]="facilityService.getCurrentObservable() | async" [allow_populate]="true"></app-patient-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #feedback>
          <app-feedback-table [facility]="facilityService.getCurrentObservable() | async" [observableRefresh]="patientListRefreshObservable()" [observableSource]="feedbackListObservable()"></app-feedback-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #vaccinations>
          <app-vaccination-table [patientId]="patientService.getCurrentId()" [observableSource]="vaccinationListObservable()" [observableRefresh]="vaccinationListRefreshObservable()" [allow_populate]="true"></app-vaccination-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" #recommendations>
          <app-recommendation-table [patientId]="patientService.getCurrentId()"></app-recommendation-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
