<mat-tab-group #tabs>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <app-immunization-registry-menu></app-immunization-registry-menu>
    </ng-template>
  </mat-tab>
  <mat-tab label="Send patient and vaccinations to IIS" *ngIf="vaccinationId > -1">
    <div style="display: flex; justify-content: space-between; gap: 0px 5px">
      <div style="width: 50%;">
        <app-fhir-post [resourceType]="'Patient'" [resource]="patientResource"
                       [resourceLocalId]="patientId"></app-fhir-post>
      </div>
      <div style="width: 50%;">
        <app-fhir-post [resourceType]="'Immunization'" [resource]="vaccinationResource" [parentId]="patientId"
                       [resourceLocalId]="vaccinationId"
                       [overridingReferences]="{'patient': patientFhirId}"></app-fhir-post>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Send resources to IIS">
    <div style="display: flex; justify-content: space-between; gap: 0px 5px">
      <div [style]="'width: 100%'">
        <app-fhir-post [resourceType]="genericResourceType" [resource]="genericResource"
                       [resourceLocalId]="genericLocalId" [resourceLoading]="genericLoading"
                       [operation]="genericOperation"></app-fhir-post>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Compare to Hl7V2 Message" *ngIf="show_hl7_tab">
    <div style="display: flex; justify-content: space-between; gap: 0px 5px">
      <div style="width: 50%;">
        <app-hl7-post [patientId]="patientId" [vaccinationId]="vaccinationId"></app-hl7-post>
      </div>
      <div style="width: 50%;">
        <!-- <app-hl7-post [patientId]="patientId" [vaccinationId]="vaccinationId"></app-hl7-post> -->
        <app-fhir-post [operation]="'$transaction'" [resource]="hl7FhirTransaction"></app-fhir-post>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Get resources from IIS">
    <div style="display: flex; justify-content: space-between; gap: 5px 5px; padding-top: 10px;">
      <div [style]="style">
        <app-fhir-get [resourceType]="'Patient'" [identifierString]="(patientId > 0)? patientId+'': ''"></app-fhir-get>
      </div>
      <div style="width: 50%;">
        <app-fhir-get [resourceType]="'Immunization'"
                      [identifierString]="(vaccinationId > 0)? vaccinationId+'': ''"></app-fhir-get>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Qr Code">
    <div style="display: flex; justify-content: space-between; gap: 5px 5px; padding-top: 10px;">
      <div [style]="'width: 100%'">
        <app-fhir-qr-code [resource]="genericResource"></app-fhir-qr-code>
      </div>
    </div>
  </mat-tab>

  <!-- <mat-tab label="Any Post">
    <div style="padding: 5px;"></div>
    <app-fhir-post></app-fhir-post>
  </mat-tab> -->
  <!-- <mat-tab label="Import remote information">
    <app-fhir-operation [operation]="'$everything'" [resourceId]="''+patientFhirId"></app-fhir-operation>
  </mat-tab>
  <mat-tab label="Load everything from Patient">
    <app-fetch-and-load [patientId]="patientId"> </app-fetch-and-load>
  </mat-tab> -->
</mat-tab-group>
