<div class="grid-container">
  <div *ngFor="let card of formCards">
    <mat-card class="display-card">
      <mat-card-header *ngIf="card.title">
        <mat-card-title>
          {{card.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="display-card-content">
        <ng-container *ngFor="let form of card.forms">
          <app-card-display class="card-form high-density" [form]="form"
                            [model]="patient[form.attributeName]"></app-card-display>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
