<mat-stepper linear #stepper style="height: 100%;">
  <mat-step label="Configure Remote IIS">
    <app-immunization-registry-form></app-immunization-registry-form>
    <!-- <p></p> -->
    <button mat-raised-button color="primary" (click)="end()" type="button" class="w3-right">
      <mat-icon>skip_next</mat-icon>
      Skip step
    </button>
  </mat-step>

  <mat-step label="Create Patients">
  </mat-step>
  <mat-step label="Send Patients to IIS">
  </mat-step>
  <mat-step label="Create new Groups">
    <app-immunization-registry-form></app-immunization-registry-form>
    <!-- <p></p> -->
    <button mat-raised-button color="primary" (click)="end()" type="button" class="w3-right">
      <mat-icon>skip_next</mat-icon>
      Skip step
    </button>
  </mat-step>
  <mat-step label="Add patient to group">
  </mat-step>
  <mat-step label="Remove patient">
  </mat-step>
  <mat-step label="Bulk Query">
  </mat-step>
</mat-stepper>
