table {
  width: 100%;
}

tr {
  text-align: left;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

td {
  /* min-width: 70px;
  width: max-content; */
  /* padding-left: 5px; */
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 25px;
}

.button-label {
  font-size: 12px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 8px 0 8px;
}
