<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="/home">Home</a> -->
      <a mat-list-item (click)="router.navigate(['/home'])">Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="router.navigate(['/dashboard'])">Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="router.navigate(['/settings'])">Settings</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="router.navigate(['/feedback'])">Feedback from IIS</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="router.navigate(['/subscription'])">Subscription</a>
      <!-- TODO Reactivate -->
      <!-- <mat-divider></mat-divider>
      <a mat-list-item href="patient_form">Enter Patient sample</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="vaccination_form">Enter Vaccination sample</a> -->
      <mat-divider></mat-divider>
      <a mat-list-item (click)="router.navigate(['/fhir'])">FHIR</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="router.navigate(['/bulk'])">Bulk Data</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EHR Sandbox</span>
      <span style="width: 2em;"></span>

      <span *ngIf="!pathname.startsWith('/home')" style="display: flex;">
        <app-tenant-menu ></app-tenant-menu>
        <span></span>
        <app-facility-menu ></app-facility-menu>
        <!-- <span></span>
        <app-patient-menu></app-patient-menu> -->
      </span>


      <span style="width: 100%;"></span>
      <a mat-icon-button style="float: right;" (click)="logout()">
        <mat-icon>login</mat-icon>
      </a>

    </mat-toolbar>
    <div class="outlet">
      <router-outlet #outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

