<div [style]="style">
    <mat-progress-bar mode="query" *ngIf="resourceLoading"></mat-progress-bar>
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Fhir Resource</mat-label>
      <textarea matInput style="height: 64vh;" placeholder="" [(ngModel)]="resource"> </textarea>
    </mat-form-field>

    <div class="footer">
      <div>
        <mat-form-field appearance="fill" matTooltip="">
          <mat-label>Resource Type</mat-label>
          <input matInput [(ngModel)]="resourceType">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Operation</mat-label>
          <mat-select [(ngModel)]="operation" name="operation">
            <mat-option [value]="'UpdateOrCreate'">Update Or Create</mat-option>
            <mat-option [value]="'Create'">Create</mat-option>
            <!-- <mat-option [value]="'Update'">Update</mat-option> -->
          </mat-select>
        </mat-form-field>
        <!-- <mat-checkbox appearance="fill" *ngIf="resourceInternId > -1"
          [(ngModel)]="autofillId">
          Autofill server Id in immunization
        </mat-checkbox> -->
      </div>

      <button mat-raised-button class="w3-right" (click)="send()" cdkFocusInitial>Send to IIS</button>
    </div>

    <mat-progress-bar mode="query" *ngIf="requestLoading"></mat-progress-bar>
    <p [ngClass]="error ? 'w3-red w3-center' : 'w3-green w3-center'">{{answer}}</p>
  </div>
