<div class="grid-container">
  <mat-grid-list [cols]="asynchronous? 3 : 2" [rowHeight]="rowHeight()">
    <mat-grid-tile>
      <div class="tile-content">
        <app-fhir-bulk-operation [asynchronous]="asynchronous" [resourceType]="'Group'"
        (contentUrl)="contentUrl = $event"
        (ndUrl)="ndUrl = $event"
        (resultListEmmitter)="resultList = $event">
        </app-fhir-bulk-operation>
      </div>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="asynchronous">
      <div class="tile-content">
        <app-fhir-bulk-status-check [contentUrl]="contentUrl"
        (ndUrl)="ndUrl = $event"
        (resultListEmmitter)="resultList = $event"></app-fhir-bulk-status-check>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="tile-content">
        <app-fhir-bulk-ndjson-import [ndUrl]="ndUrl" [resultList]="resultList"></app-fhir-bulk-ndjson-import>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-toolbar style="height: 40px; font-size: medium;" class="w3-bottom" color="primary">
    <a href="http://build.fhir.org/ig/HL7/bulk-data/export.html">Test client for Bulk Data Export implementation </a>
  </mat-toolbar>
</div>
