<div class="app-nav-item" [matMenuTriggerFor]="disabled ? null : menu" #menuTrigger="matMenuTrigger"
     (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)">
  <ng-content select="[trigger]"></ng-content>
</div>
<mat-menu #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="false" [hidden]="disabled" class="panelClass"
          [class]="''">
  <div (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)">
    <ng-content select="[content]"></ng-content>
  </div>
</mat-menu>


<div (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)">
  <ng-content [select]="'[subcontent]'"></ng-content>
</div>
<!-- <button mat-button [matMenuTriggerFor]="animals">Animal index</button> -->
<!-- <mat-menu #animals="matMenu" [hasBackdrop]="false" [hidden]="disabled" class="panelClass">
  <div (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)">
    <button mat-menu-item>Vertebrates</button>
    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
  </div>
</mat-menu>

<ng-template #subMenuTemplate let-subItems="subItems">
  <mat-menu>
    <ng-container *ngFor="let subItem of subItems">
      <button mat-menu-item *ngIf="!subItem.nestedSubMenu">
        {{ subItem.label }}
      </button>
      <button mat-menu-item *ngIf="subItem.nestedSubMenu" [matMenuTriggerFor]="getNestedSubMenu(subItem)">
        {{ subItem.label }}
      </button>
    </ng-container>
  </mat-menu>
</ng-template>

<ng-template #nestedSubMenuTemplate let-nestedSubItems="nestedSubItems">
  <mat-menu>
    <ng-container *ngFor="let nestedSubItem of nestedSubItems">
      <button mat-menu-item>{{ nestedSubItem.label }}</button>
    </ng-container>
  </mat-menu>
</ng-template>

<mat-menu #invertebrates="matMenu">
  <div (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)">

    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
  </div>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu> -->
