<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/j2ee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee;http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>EHR-Sandbox</display-name>
  
  <welcome-file-list>  
  	<welcome-file>authentication</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>org.immregistries.ehr.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  <display-name>Entry Creation</display-name>
  <servlet-name>entry_creation</servlet-name>
  <servlet-class>org.immregistries.ehr.servlet.EntryCreation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>org.immregistries.ehr.servlet.TestNumeromille</servlet-class>
  </servlet>
  <servlet>
  	
  	<display-name>EntryRecord</display-name>
  	<servlet-name>entry_record</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.EntryRecord</servlet-class>
  </servlet>
    <servlet>
    <display-name>Facility </display-name>
  <servlet-name> Facility</servlet-name>
  <servlet-class>org.immregistries.ehr.servlet.FacilityCreation</servlet-class>
  </servlet>
  <servlet>
  	<display-name>patient_record</display-name>
  	<servlet-name>patient_record</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.PatientRecord</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Silos</display-name>
  	<servlet-name>Silos</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.Silos</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>IIS_message</display-name>
  	<servlet-name>IIS_message</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.IISMessage</servlet-class>
  </servlet>
  <servlet>
  <display-name>Patient modification</display-name>
  <servlet-name>PatientModification</servlet-name>
  <servlet-class>org.immregistries.ehr.servlet.PatientModification</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Silo_creation</display-name>
  	<servlet-name>Silo_creation</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.SiloCreation</servlet-class>
  </servlet>
  <servlet>
  	<display-name>patient_creation</display-name>
  	<servlet-name>patient_creation</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.PatientCreation</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>facility_patient_display</display-name>
  	<servlet-name>facility_patient_display</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.FacilityPatientDisplay</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Authentication</display-name>
  	<servlet-name>Authentication</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.Authentication</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FHIR_messaging</display-name>
  	<servlet-name>FHIR_messaging</servlet-name>
  	<servlet-class>org.immregistries.ehr.servlet.FhirMessaging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientModification</servlet-name>
    <url-pattern>/patient_modification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>entry_record</servlet-name>
  	<url-pattern>/entry_record</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>patient_record</servlet-name>
  	<url-pattern>/patient_record</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Silos</servlet-name>
  	<url-pattern>/silos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>Facility</servlet-name>
  <url-pattern>/facility_creation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IIS_message</servlet-name>
  	<url-pattern>/IIS_message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Silo_creation</servlet-name>
  	<url-pattern>/silo_creation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>patient_creation</servlet-name>
  	<url-pattern>/patient_creation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>entry_creation</servlet-name>
  <url-pattern>/entry_creation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>facility_patient_display</servlet-name>
  	<url-pattern>/facility_patient_display</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Authentication</servlet-name>
  	<url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FHIR_messaging</servlet-name>
    <url-pattern>/FHIR_messaging</url-pattern>
  </servlet-mapping>

  <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>org.immregistries.ehr.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>loginFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
