body{
	margin: 0;
	padding: 0;
	font: normal 8pt verdana, helvetica, sans-serif;
	
}

p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

header {
	display :flex;
	text-align : center;
	width:100%;
	flex-direction: column;
}
/* Forms --------------------------------------------------------------------------------------- */

fieldset {
    padding: 50px;
    margin-top: 10px;
    margin-bottom:10px; 
    flex-wrap:wrap;
	display: flex;
	text-align:center;
}

.navbar{
	border: 2px #666666 solid;
	background-color: #660033;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

#contAuth {
	display:flex;
	align-items:center;
}

#EHRuid {
	text-align: center;
	display : block;
    margin-left :auto;
    margin-right :auto;
    border: 1.5px solid black;
    border-radius: 30px;
}

#motdepasse {
	text-align: center;
	display : block;
    margin-left :auto;
    margin-right :auto;
    border: 1.5px solid black;
    border-radius: 30px;
}

#formulaire {
  column-count: 1;
  margin: 0;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}


fieldset input {
	height : 4em;
    width : 30em;
    display : block;
    margin-left : 0;
    margin-right : 0;
}

h1 {
	margin-top : 75px;
	text-align : center; 
    font-weight: bold;
    font-size : 2em;
    color : #ee8936 ;
	margin-left :auto;
	margin-right :43%;
}

form {
	margin : center;
}

form input {
    margin: 3px 3px 0px 0px;
}

form input.sansLabel {
    margin-left: 200px;
}

.ok {
	display :flex ;
	flex-wrap :wrap;
	text-align:center;
	justify-content : center;
	
	
}

.boutton {
	width : 20%;
	height : 4em;
	background-color: #660033;
	border: 1.5px solid #660033;
	color: white;
	transition-duration: 0.4s;
	border-radius: 10px; 
}

.boutton:hover{
	background-color: #CCCCCC;
	color: #660033;
	border: 1.5px solid #660033;
	font-weight: bold;
}


/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
